{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <h1> enregistrement des notes de {{ users.lastname }} {{ users.firstname }} de la classe de {{ users.class }}</h1>

    <form method="post" action="">
        {% for skill in skills %}

            <label for="grade{{ skill.id }}">{{ skill }} </label>
            <input type="number" name="grade{{ skill.id }}" id="grade{{ skill.id }}" min="0" max="20"><br>


        {% endfor %}
        <input type="submit">
    </form>


{% endblock %}