{% extends 'base.html.twig' %}


{% block body %}
    <h1> enregistrement des notes de {{ skill }} de la classe de {{ users[0].class }}</h1>

    <a class="buttonnav" href="{{ path('admin') }}"> retour au panneau des utilisateurs</a>


    <div class="formgrade">
    <form  method="post" action="">
        {% for user in users if user.idrank ==3 %}
            <label for="grade{{ user.id }}">{{ user.lastname }} {{ user.firstname}}</label>
            <input class="fieldgrade"  type="number" name="grade{{ user.id }}" id="grade{{ user.id }}" min="0" max="20"><br>
        {% endfor %}
        <input type="submit">
    </form>
    </div>
{% endblock %}