{% extends 'base.html.twig' %}

{% block body %}
    <h1> enregistrement des notes de {{ skill }} de la classe de {{ users[0].class }}</h1>

    <form method="post" action="">
    {% for user in users %}

       <label for="grade{{ user.id }}">{{ user.lastname }} {{ user.firstname}}</label>
        <input name="grade{{ user.id }}" id="grade{{ user.id }}"><br>

    {% endfor %}
    <input type="submit">
    </form>

{% endblock %}