{#page for skill panel#}
{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <h1>Panneau administrateur</h1>

    <nav>
        <a class="buttonnav" href="{{ path('create_skill') }}">entrer une nouvelle compétence</a>
    </nav>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>id</th>
            <th>compétence</th>
        </tr>
        {% for i in skill %}
            <tr>
                <td><a href="{{ path('delete_skill',{'id': i.id }) }}"> suprimer </a></td>
                <td><a href="{{ path('update_skill',{'id': i.id }) }}"> modifier</a></td>
                <td>{{ i.id }}</td>
                <td>{{ i.skill }}



        {% endfor %}
    </table>
{% endblock %}




