{#page for administrator panel#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}


{% block body %}


       <h1> Notes de l'élèves : {{ nom }} {{ prenom }}</h1>

       {% for key, grade in grades %}

              {{ grade.skill }} : {{ grades[key].grades}}<br>

       {% endfor %}



    <div id="pppp"><canvas id="myChart" ></canvas></div>


    <div id="comment-main-box">
        <div id="comment-title">Correspondance Professeur/Parent</div>
        <h5> le poster le 02/02/02 08:02:02 par les parents de sophie</h5>
        <div>bonjours, Sophie ne viendras en cours, ar il estait malade</div>
        <h5> le poster le 02/02/02 10:02:04 par le professeur</h5>
        <div>bonjours, merci  de m'avoir prevenus</div>
    </div>


    <script type="text/javascript">
        var skills = [];
        var grades = [];
        var elt = {{ objgrade |  raw  }}




        for(let i =0;i<elt.length;i++){

         var skill = elt[i].skill;
         skills.push(skill);

         var grade = elt[i].grade;
         grades.push(grade)

        }

 console.log(skills);






        var ctx = document.getElementById('myChart').getContext('2d');






            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'radar',

                // The data for our dataset

                data: {
                    labels: skills,
                    datasets: [{
                        label: 'note',

                        backgroundColor: "transparent",
                        borderColor: 'rgb(0,0,255)',
                        data: grades
                    }]
                },

                options : {
                    scale: {

                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 20,
                            stepSize: 2,
                            lineHeight: 2
                        },
                        pointLabels: {
                            fontSize: 12
                        }
                    },
                    legend: {
                        display: false
                    },
                }

            });





    </script>
{% endblock %}

